<section class="p-5">

    <!-- FORM RESET PASSWORD -->
    <form [formGroup]="passwordForgottenForm" (ngSubmit)="onSubmit()" class="p-5 w-50 mx-auto d-flex flex-column justify-content-center"> 

        <!-- ICON -->
        <div class="mb-3">
            <!-- <img src="../../../assets/icons/question-solid.svg" alt="icon forgotten password" class="m-3"> -->
            <i class="fa-solid fa-question iconPassword"></i>
        </div>

        <h4 class="mb-5 text-center">Oh non vous avez oublié votre mot de passe !</h4>
        <p>Saisissez votre e-mail pour réinitialiser votre mot de passe.</p>
    
        <!-- RESPONSE ERROR MESSAGE -->
        <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
        <div *ngIf="confirmMsg" class="alert alert-success">{{confirmMsg}}</div>
    
        <!-- INPUT -->
        <div class="mb-3">
            <input formControlName="email" type="text" class="form-control" placeholder="Entrez votre adresse email">
        </div>
        
        <div class="text-start mt-3">
            <button type="submit" class="btn mb-3">Réinitialiser mon mot de passe</button>
        </div>

    </form>


</section>
