<section class="p-5">

    <form [formGroup]="passwordForgottenForm" (ngSubmit)="onSubmit()" class=" w-50 mx-auto d-flex flex-column"> 
        <div>
            <img src="../../../assets/icons/question-solid.svg" alt="icon mdp oublié" class="img1 m-3">
        </div>
        <h4 class="mb-5 text-success">Oh non vous avez oublié votre mot de passe !</h4>
        <p>Saisissez votre e-mail pour réinitialiser votre mot de passe.</p>
    
        <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
        <div *ngIf="confirmMsg" class="alert alert-success">{{confirmMsg}}</div>
    
        <div class="mb-3">
            <input formControlName="email" type="text" class="form-control" placeholder="Entrez votre adresse email">
        </div>
        <button type="submit" class="btn btn-primary mb-5">Réinitialiser mon mot de passe</button>
    </form>

</section>
