// ICON
form > div:nth-child(1) {
    display: flex;
    justify-content: center;
}
    // form > div:nth-child(1) img {
    //     width: 8%;
    // }
    .iconPassword{
        font-size: 100px;
        color: #4a8251;
    }