<section class="p-5">

    <h1 class="pb-4">Gestion des sections</h1>

    <div class="mt-3 d-flex justify-content-center gap-5 ">

        <div>
            <form class="p-3 mb-4 ">
                <h2 class="py-3">Créer une section</h2>
                <!-- RESPONSE ERROR MESSAGE -->
                <!-- <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div> -->
                <div class="mb-3">
                    <input type="text" class="form-control p-3 mb-3 w-75" placeholder="Nom*" required>
                    <input type="text" class="form-control p-3 mb-3 w-75" placeholder="Description*" required>
                </div>
                <a routerLink="/email-confirmation/:email"><button type="submit" class="btn mb-5">Créer la
                        section</button></a>
                <p class="text-end">Champs obligatoires *</p>
            </form>
            <!-- FORM SEARCH SECTION -->
            <form class=" p-3 mb-4 mx-auto d-flex flex-column justify-content-center">
                <h2 class="py-3">Rechercher une section</h2>
                <div class="mb-3 d-flex gap-2">
                    <input type="search" class="form-control" placeholder="Id de la section">
                    <input class="mt-3" type="search" class="form-control" placeholder="Nom">
                </div>
                <button type="submit" class="btn mb-3 w-50">Rechercher la section</button>
            </form>
        </div>
        <div class="w-50">
            <!-- FORM SEARCH SECTION -->
            <form class=" p-3 mb-4 mx-auto d-flex flex-column justify-content-center">
                <h2 class="py-3">Ajouter une vidéo à une section</h2>
                <div class="mb-3 d-flex gap-2">
                    <input type="search" class="form-control" placeholder="Id de la section*" required>
                    <input class="mt-3" type="search" class="form-control" placeholder='Id de la vidéo*' required>
                </div>
                <button type="submit" class="btn mb-3 w-50">Rechercher la liste catégorie</button>
                <p class="text-end">Champs obligatoires *</p>
            </form>
            <!-- FORM SEARCH SECTION -->
            <form class=" p-3 mb-4 mx-auto d-flex flex-column justify-content-center">
                <h2 class="py-3">Supprimer une vidéo d'une section</h2>
                <div class="mb-3 d-flex gap-2">
                    <input type="search" class="form-control" placeholder="Id de la section*">
                    <input class="mt-3" type="search" class="form-control" placeholder='Id de la vidéo*'>
                </div>
                <button type="submit" class="btn mb-3 w-50">Rechercher la liste par type</button>
                <p class="text-end">Champs obligatoires *</p>
            </form>
        </div>
    </div>

    <!-- TABLE SECTION -->
    <h2 class="">Table Section</h2>
    <!-- RESULTAT -->
    <table class="w-100 text-center mb-5 mx-auto">
        <tr class="">
            <th class="w-25">Id</th>
            <th class="w-25">Nom</th>
            <th class="w-50">Description</th>
            <th class="w-25">Modifier</th>
            <th class="w-25">Supprimer</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td> <a href=""><i class="fa-solid fa-pen"></i></a></td>
            <td> <a href=""><i class="fa-solid fa-trash-can"></i></a></td>
        </tr>
    </table>

    <!-- MODIFIER LA SECTION -->
    <form class="p-5 mb-5 w-50 mx-auto">
        <h2 class="py-3">Modifier la section 'nom-section'</h2>
        <!-- RESPONSE ERROR MESSAGE -->
        <!-- <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div> -->
        <div class="mb-3">
            <input type="text" class="form-control p-3 mb-3 w-75" placeholder="Nom*" required>
            <input type="text" class="form-control p-3 mb-3 w-75" placeholder="Description*" required>
        </div>
        <a routerLink=""><button type="submit" class="btn mb-5">Modifier la section</button></a>
        <p class="text-end">Champs obligatoires *</p>
    </form>

</section>