<section class="p-5">

    <!-- FORM RESET PASSWORD -->
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="w-50 mx-auto d-flex flex-column justify-content-center">
    
        <h4 class="mb-5 text-success">Oh non vous avez oublié votre mot de passe !</h4>
        <p>Saisissez votre e-mail pour réinitialiser votre mot de passe.</p>
    
        <!-- RESPONSE ERROR MESSAGE -->
        <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
        <div *ngIf="confirmMsg" class="alert alert-success">{{confirmMsg}}</div>
    
        <div class="mb-3">
            <label for="">password</label>
            <input formControlName="password" type="password" class="form-control" placeholder="test">
        </div>
        <button type="submit" class="btn">Réinitialiser mon mot de passe</button>
    </form>

</section>
