<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="w-50 mx-auto">
    <h4 class="mb-5 text-success">Mot de passe oublié !</h4>
    <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
    <div *ngIf="confirmMsg" class="alert alert-success">{{confirmMsg}}</div>
    <div class="mb-3">
        <label for="">password</label>
        <input formControlName="password" type="password" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-primary">
        Envoyer
    </button>

    
</form>