<section>

    <!-- IF FAVORITE LIST IS EMPTY -->
    <div class="template1 m-5 p-5 text-center">
    
        <!-- ICON FAVORITE TEMPLATE -->
        <i class="fa-solid fa-heart iconHeart mb-3"></i>
        <!-- <img src="../../../../assets/icons/heart-solid.svg" alt="icon favoris" class="mb-3"> -->
    
        <h4 class="pb-2">Ajouté récemment dans votre liste de vidéos favorites</h4>
        <p>Oh, mais vous n’avez encore eu envie de rien ?</p>
    
        <!-- SUBMIT -->
        <a routerLink="/home"><button type="submit" class="btn">Je découvre</button></a>
        
    </div>

</section>

