<section class="p-3">
    <h3 class="">Ma liste de vidéos favorites</h3>

    <!-- SI LA LISTE EST VIDE -->
    <div class="no-list m-5 p-3 text-center">
        <div class="mb-3">icon favoris</div>
        <p class="">Ajouté récemment dans votre liste de vidéos favorites</p>
        <p class="">Oh, mais vous n’avez encore eu envie de rien ?</p>
        <button class="#"><a href="#">Je découvre</a></button>
    </div>

    <!-- VIDEO CARDS : FAIRE UNE BOUCLE -->
    <div class="main-box d-flex flex-lg-wrap gap-2 p-1">
        <div class="box-video-card">
            <!--  RECUPERER LES VIDEOS DANS LA TABLE VIDEO EN BDD -->
            <div class="video-card m-2"></div>
            <div class="d-flex flex-row-reverse">
                <button class="m-2">supprimer</button>
            </div>
        </div>
        <div class="box-video-card">
            <!--  RECUPERER LES VIDEOS DANS LA TABLE VIDEO EN BDD -->
            <div class="video-card m-2"></div>
            <div class="d-flex flex-row-reverse">
                <button class="m-2">supprimer</button>
            </div>
        </div>
        <div class="box-video-card">
            <!--  RECUPERER LES VIDEOS DANS LA TABLE VIDEO EN BDD -->
            <div class="video-card m-2"></div>
            <div class="d-flex flex-row-reverse">
                <button class="m-2">supprimer</button>
            </div>
        </div>
        <div class="box-video-card">
            <!--  RECUPERER LES VIDEOS DANS LA TABLE VIDEO EN BDD -->
            <div class="video-card m-2"></div>
            <div class="d-flex flex-row-reverse">
                <button class="m-2">supprimer</button>
            </div>
        </div>
        
        
    </div>
    <button class="m-2">Plus de vidéo</button>
</section>