.no-list {
    background-color: rgb(241, 241, 241);
}

.main-box {
    background-color: rgb(241, 241, 241);
    margin: 0px auto;
    position: relative;
}
    .box-video-card {
            background-color: white;
            display: flex;
            flex-direction: column;
            min-width: 20vw;
            min-height: 30vh;
        }
    .video-card {
        background-color: rgb(73, 73, 73);
        position:relative;
        min-width: 20vw;
        min-height: 30vh;
    }
    .box-video-card a {
        position: relative;
        top: 20px;
        right: 10px;
    }

img {
    width: 3%;
}
