.borderCard {
    border-radius: 10px;
    // background-color: #FFFFFF;
    // background-color: #FFFBFA;
    // background-color: #dde4d7;
    // background-color: #D5DDBC;
    // background-color: #5CBA86;
    background-color: #4A8251;
    background-color: #bdbcbc;
    // color: white;
}

// VIDEO BOX
.video-box {
    background-color: #384658;
    min-width: 30vw;
    min-height: 40vh;
}


