.borderCard {
    border-radius: 10px;
    // background-color: #FFFFFF;
    // background-color: #FFFBFA;
    // background-color: #dde4d7;
    // background-color: #D5DDBC;
    // background-color: #5CBA86;
    background-color: #4A8251;
    background-color: #bdbcbc;
    // color: white;
}

// VIDEO BOX
.video-box {
    background-color: #384658;
    min-width: 30vw;
    min-height: 40vh;
}

.borderCard {
    border-radius: 10px;
}

// VIDEO BOX
.video-box {
    background-color: #384658;
    min-width: 20vw;
    min-height: 30vh;
}
    .video-box a {
        position: relative;
        top: 20px;
        right: 15px;
    }
    // BROKEN HEART ICON
    // .video-box a img {
    //     width: 15%;
    // }
    .iconBrokenHeart{
        font-size: 40px;
        color: #4a8251;
    }

