<section class="p-3">
  <h3 class="mx-3">TEMPLATE Card Vidéo en détail</h3>
  <div class="template1 m-5 py-5 px-4">
    {{ video.linkUrl }}
    <iframe
      width="300"
      height="200"
      src="https://www.youtube.com/embed/UKQcJUj8Bjs"
      frameborder="0"
    ></iframe>
    <!-- TEMPLATE -->
    <div class="d-flex p-3 borderCard">
      <div class="video-box"></div>
      <div class="ms-3 borderCard">
        <div class="p-2">
          <h3 class="mb-5">Titre : {{ video.title }}</h3>
          <p>
            <strong>Description : {{ video.description }}</strong>
          </p>
          <p>
            <strong>Publié le : {{ video.publicationDate }}</strong>
          </p>
          <p>
            <strong *ngFor="let categorie of video.categories">Catégorie(s) : {{ categorie }}</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
