<section class="p-3">
    <h3 class="mx-3">TEMPLATE Card Vidéo en détail</h3>
    <div class="template1 m-5 py-5 px-4">

        <!-- TEMPLATE -->
        <div class="d-flex  p-3 borderCard">
            <div class="video-box "></div>
            <div class="ms-3 borderCard">
                <div class="p-2">
                    <h3 class="mb-5">Titre :</h3>
                    <p><strong>Description :</strong></p>
                    <p><strong>Publié le :</strong></p>
                    <p><strong>Catégorie(s) :</strong></p>
                </div>
            </div>
        </div>
        
    </div>

</section>