<section class="p-3">
  <!-- <h3 class="mx-3">TEMPLATE Card Vidéo</h3> -->

  <div class="template1 m-5 py-5 px-5">
    <!-- VIDEO CARDS : FAIRE UNE BOUCLE -->
    <div class="d-flex flex-lg-wrap gap-4">
      <!--  RECUPERER LA VIDEO DANS LA TABLE VIDEO EN BDD -->
      <div class="bg-white borderCard p-4">
        <!-- VIDEO BOX-->
        <div class="video-box text-center" *ngIf="showVideo">
          <iframe
            width="300"
            height="300"
            [src]="convertToSafeUrl('' + video.linkUrl)"
            frameborder="0"
          ></iframe>

          <!-- <a routerLink="/user-favorites-list" class="text-end m-2 "><button type="submit" class="btn btn-danger">supprimer</button></a> -->
          <!-- VIDEO -->
          <!-- <video id="video" preload="">
                          <source src="" type="video/mp4">
                          <track label="English" kind="captions" srclang="en" src="" default>
                      </video> -->
        </div>

        <!-- META DATA -->
        <div class="p-2 text-center">
          <div class="d-flex justify-content-around align-item-center">
            <div>
              <a
                (click)="showVideoDetails = !showVideoDetails"
                (click)="showVideo = !showVideo"
              >
                <h4 class="mb-3 text-decoration-underline">
                  Titre : "{{ video.title }}"
                </h4>
              </a>
            </div>
            <div>
              <a routerLink="/user-favorites-list" class="text-end m-2 test">
                <i class="fa-solid fa-heart-crack iconBrokenHeart"></i>
              </a>
              <a routerLink="/user-favorites-list" class="text-end m-2 test">
                <i class="fa-solid fa-heart iconBrokenHeart"></i>
              </a>
            </div>
          </div>

          <app-video-details-card
            [video]="video"
            *ngIf="showVideoDetails"
          ></app-video-details-card>
        </div>
      </div>
    </div>
  </div>
</section>
