// ICON-BASE
// .template1 img {
//     width: 4%;
// }
.iconHeart{
    font-size: 65px;
    color: #4a8251;
}

// CARD VIDEO
.video-card {
    background-color: #384658;
    min-width: 20vw;
    min-height: 30vh;
}

a:hover {
    text-decoration: none;
}