.no-list {
    background-color: rgb(241, 241, 241);
}

.main-box {
    margin: 0px auto;
    background-color: rgb(241, 241, 241);
}
    .box-video-card {
        display: flex;
        flex-direction: column;
        min-width: 20vw;
        min-height: 30vh;
    }
    .video-card {
        border: 1px solid black;
        background-color: rgb(73, 73, 73);
        min-width: 20vw;
        min-height: 30vh;
    }

a {
    font-weight: 300;
}
    a:hover {
        text-decoration: none;
    }

img {
    width: 4%;
}
