body {
    margin: 0px;
    padding: 0px;
}

header {
    // background-color: rgb(202, 202, 202);
    background-color: #dde4d7;
    // position: sticky;
    // top: 0px;
}

nav {
    width: 100%;
}
    nav ul {
        list-style-type: none;
        display: flex;
        gap: 20px;
        padding: 0px;
    }
    nav ul::after{
        content: "";
        display: table;
        clear: both;
    }
    nav a {
        display: block;
        text-decoration: none;
        // color: black;
    }
    nav a:hover{
        // color: yellow;
        // border-bottom: 2px solid gold;
        border-bottom: 2px solid red;
    }
    .sous {
        display: none;
        box-shadow: 0px 1px 2px #CCC;
    }
    nav > ul li:hover .sous {
        display: block;
    }
    .deroulant > a::after {
        content: "▼";
        font-size: 12px;
    }
    .bouton a:hover {
        border-bottom: none;
    }

.border-bottom {
    // border: 1px solid black;
    // border-bottom: 2px solid black;
    text-decoration: underline;
}