// header{
//     border: 1px solid black;
//     padding: 0px;
//     margin: 0px;
// }

body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(202, 202, 202);

}

nav {
    display: flex;
}

a {
    text-decoration: none;
}

ul {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 0px;
}

li {
    list-style: none;
}