<header class="header pt-5 px-5 pb-2">

  <h1>Daily Yoga</h1>
  
  <h4 class="mt-4"><strong>Barre de navigation pour le développement</strong></h4>

  <nav class="mt-3 d-flex">
    <ul class="w-100">
      <li class="deroulant">
        <ul class="d-block sous">
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="**">Page-not-found</a></li>
        </ul>
      </li>
      <li class="deroulant"><strong>CREATE USER</strong>
        <ul class="d-block sous">
          <li><a routerLink="register">Register</a></li>
          <li><a routerLink="email-confirmation/:email">Email-confirmation</a></li>
        </ul>
      </li>
      <li class="deroulant"><strong>AUTHENTIFICATION</strong>
        <ul  class="d-block sous">
          <li><a routerLink="login">Login</a></li>  
          <li><a routerLink="reset-password">Reset-password</a></li>
        </ul>
      </li>
      <li class="deroulant"><strong>ESPACE USER</strong>
        <ul class="d-block sous">
          <li><a routerLink="user-session">User-Session</a></li>
          <li><a routerLink="user-session-base">*User-Session-base</a></li>
          <li><a routerLink="user-info">*User-Info</a></li>
          <li><a routerLink="user-favorites-list">*User-Favorites-list</a></li>
        </ul>
      </li>
      <li class="deroulant"><strong>ESPACE ADMIN</strong>
        <ul class="d-block sous">
          <li><a routerLink="admin-session">Admin-Session</a></li>
        </ul>
      </li>
    </ul>

    <div class="text-center w-50">
      <p class="border-bottom">Mon Compte</p>
      <div class="d-flex text-start justify-content-end bouton gap-3">
        <p>Bonjour "prénom user" {{email}}</p>
        <!-- <div *ngIf="errorMsg" class="alert alert-danger m-2">{{errorMsg}}</div> -->
        <div *ngFor = "let user of users">
            <p>{{user.email}}</p>
        </div>
        <a class=""><button class="btn btn-primary" (click)="navigateTo()">Log in</button></a>
        <a class=""><button class="btn btn-danger" (click)="logout()">Log Out</button></a>
      </div>
    </div>

  </nav>

</header>