/* You can add global styles to this file, and also import other style files */
// @font-face {
//     font-family: 'Nanum-Regular';
//     src: url('../src/assets/fonts/Nanum_Gothic/NanumGothic-Regular.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'Nanum-Bold';
//     src: url('../src/assets/fonts/Nanum_Gothic/NanumGothic-Bold.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'Nanum-ExtraBold';
//     src:url('../src/assets/fonts/Nanum_Gothic/NanumGothic-ExtraBold.ttf') format('truetype');
// }

// FONT 
@font-face {
    font-family: 'Dots-Regular';
    src: url('../src/assets/fonts/Raleway_Dots/RalewayDots-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-Regular';
    src: url('../src/assets/fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-VariableFont_wght';
    src:url('../src/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

// GRAPHIC CHARTER  
.color-graphic-charter{
    color: #4A8251;
    color: #5CBA86;
    color: #D5DDBC;
    color: #dde4d7;
    color: #FFFBFA;
    color: #FFFFFF;
}
:root {
    --color4 : #dde4d7;
  }

body {
    font-family: 'Raleway-VariableFont_wght', sans-serif;
    margin: 0;
    padding: 0;
}

// TEMPLATE
form, .template1, .subMenu {
    background-color: #f1f1f1;
    background-color: #dde4d7;
}

// NAV
ul li {
    list-style-type: none;
}
    ul li a {
        text-decoration: none;
    }

// FORM
// form a {
//     font-weight: 300;
//     text-decoration: none;
// }

.btn {
    background-color: #4A8251;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
}
.btn:hover {
    background-color: white;
    color: #4A8251;
    border: 1px solid #4A8251;
}


table > tr, th, td {
    border: 1px solid black;

}
    table > tr > th {
        background-color: rgb(197, 197, 197);
    }
    // ICONS
    // th > img {
    //     width: 25px;
    // }
