section {
    // border: 1px solid black;
    gap: 20px;
    row-gap: 20px;
}

form {
    background-color: rgb(241, 241, 241);
    // border: 1px solid black;
    // justify-content: center;
    min-width: 30vw;
    // min-height: 50vh;
    // min-height: 30vh;
    padding: 0 10%;
}
    form a {
        color: rgb(83, 80, 80);
        font-weight: 300;
        text-decoration: none;
    }
    form input{
        min-width: 80%;
    }

