<section class="p-3 d-flex flex-column">
    <!-- BODY -->
    <form action="" class=" p-3">
        <h3 class="">Mes informations de contact</h3>
        <div class="d-flex flex-column">
            <input class="mb-3" type="text" value="Civilité*" placeholder="test">
            <input class="mb-3" type="text" value="Nom*" placeholder="test">
            <input class="mb-3" type="text" value="Prénom*" placeholder="test">
            <input type="text" value="Adresse email*" placeholder="test" disabled>
        </div>
        <p class="">* Champs obligatoires</p>
        <p class="">Maisons du Monde s'engage sur la sécurité et la confidentialité de vos informations personnelles. En savoir plus</p>
        <button class="" type="submit">Mettre à jour mes informations</button>
    </form>
    
    <form action="" class=" p-3">
        <h3 class="">Modifier mon mot de passe</h3>
        <div class="d-flex flex-column">
            <input class="mb-3" type="text" value="Mot de passe actuel*" placeholder="test">
            <input class="mb-3" type="text" value="Nouveau mot de passe*" placeholder="test">
            <input class="mb-3" type="text" value="Confirmez votre nouveau mot de passe*" placeholder="test">
        </div>
        <p class="">* Champs obligatoires</p>
        <p>Pour vous assurer une sécurité maximale, votre mot de passe doit comporter : <br>
            - 8 caractères minimum <br>
            - une majuscule <br>
            - une minuscule <br>
            - un caractère spécial (!#@;%…) <br>
            - un chiffre</p>
        <button class="mb-2" type="submit">Modifier mon mot de passe</button>
    </form>
    
    <form action="" class=" p-3">
        <h3 class="">Supprimer mon compte</h3>
        <div class="d-flex flex-column">
            <!-- <input class="mb-3" type="text" value="Mot de passe actuel*">
            <input class="mb-3" type="text" value="Nouveau mot de passe*"> -->
        </div>
        <button class="mb-2" type="submit">Supprimer mon compte</button>
    </form>


</section>
